.stats__cards{
    margin-left: auto;
    display: flex;    
}

.stat__card{
    display: flex;
}

.stat__card__icon{
   font-size: 23px;
   margin-right: 10px;
}

.stat__card__text{
    text-align: center;
    margin-left: 5px;
    vertical-align: middle;
}

.stat__card__text--eur{
    margin-left: 19px;
}

.stat__card__key{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 6px;
    margin-right: 7px;
    margin-left: 7px;
}