<div class="stat">    
    <div class="stat__card">
        <fa-icon class="stat__card__icon" [icon]="faFileSignature"></fa-icon> 
        <div class="stat__card__text">
            <p class="stat__card__key">3000</p>
            <p>contratos</p>
        </div>
    </div>
    <div class="stat__card">
        <fa-icon class="stat__card__icon" [icon]="faEuroSign"></fa-icon> 
        <div class="stat__card__text stat__card__text--eur">
            <p class="stat__card__key">4.8M</p>
            <p>adjudicados</p>
        </div>
    </div>
</div>