<p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="Recientes" leftIcon="pi-euro">
        <div>           
            <app-contract-block *ngFor="let contract in this.contracts" [contract]="contract"></app-contract-block>   
        </div>
    </p-tabPanel>
    <p-tabPanel header="Cantidad">
        <div>           
            <app-contract-block *ngFor="let contract in this.contracts" [contract]="contract"></app-contract-block>   
        </div>
    </p-tabPanel>
    <p-tabPanel header="Todos">
        <div>           
            <app-contract-block *ngFor="let contract in this.contracts" [contract]="contract"></app-contract-block>           
        </div>
    </p-tabPanel>
</p-tabView>